Package: com.wh0ba.mama
Name: mama
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: System Administrator
Author: System Administrator
Section: Utilities
Version: 0.0.1-115+debug
Installed-Size: 1344
